@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    D Tapader<br />
    Satsang, Deoghar 814116<br />
    <abbr title="Phone">P:</abbr>
    947.575.8356
</address>

<address>
    <strong>Support:</strong> <a href="mailto:dev.openroot@gmail.com">dev.openroot@gmail.com</a>
</address>
