@model EasyBooksWebApp.Models.BillPayment

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Bill Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Supplier" class="control-label"></label>
                <select asp-for="SupplierID" class ="form-control" asp-items="ViewBag.SupplierID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethodID" class="control-label"></label>
                <select asp-for="PaymentMethodID" class ="form-control" asp-items="ViewBag.PaymentMethodID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReferenceNo" class="control-label"></label>
                <input asp-for="ReferenceNo" class="form-control" />
                <span asp-validation-for="ReferenceNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountPaid" class="control-label"></label>
                <input asp-for="AmountPaid" class="form-control" />
                <span asp-validation-for="AmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
